<header class="h-20 flex items-center justify-between font-sans">
  <h2 class="text-lg font-medium">
    {{ shop.name | link_to: routes.root_url, class: "text-black no-underline" }}
  </h2>

  <nav class="flex gap-8">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url, class: "text-black no-underline text-sm tracking-widest uppercase" }}
    {% endfor %}
  </nav>

  <div class="flex items-center">
    <a href="{{ routes.cart_url }}" class="text-black no-underline text-sm tracking-widest uppercase">
      {% if cart.item_count > 0 %}
        Cart ({{ cart.item_count }})
      {% else %}
        Cart
      {% endif %}
    </a>
  </div>
</header>


{% schema %}
  {
    "name": "t:general.header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "t:labels.menu"
      }
    ]
  }
{% endschema %}